html {
    height: 100%;
    width: 100%;
}

body {
    
    background-image: url("../images/social-media-networking-chatting-and-texting_1200-504.jpg");
    height: 90%;
    width: 100%;
}


.home {
  height: 100%;
  width: 100%;
  background-image: url("../images/pngwing.com (1).png");
  animation: scroll linear 18s infinite;
  -webkit-animation: scroll linear 1000s infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000% 0;
  }
}
/*==================
Шапка чата
===================*/

.up {
    width: 100%;
    height: 80px;
    background: #0000000a;
    background-color:rgba(255, 255, 0, 0.226);
}

.logo {
    width: 100px;
    height: 100%;
    position: relative;
    float: left;
}

.logo img {
    width: 80%;
    position: absolute;
    top: 0px;
    left: 10px;
}

.logo span {
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 120px;
}
.logo span b{
    font-family: Bradley Hand, cursive;
}
.logo span i{
    font-family: Bradley Hand, cursive;
}


.menu {
    float: right;
    height: 100%;
}

.menu a,
button  {
    font-family: Bradley Hand, cursive;
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
   
    border-style: solid none;
    border-color: #33fdd1 rgb(189, 36, 36) #6894c5;
    border-radius: 6px;
    background: linear-gradient(#0febf3, #16b3e3) #16dce3de;
    transition: 0.2s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.menu a:hover { background: rgba(255,255,255,.2); }
.menu a:active { background: rgb(130, 171, 199); }

.menu a:hover {
    background: #65ddfbc7;
}
.menu a{
   
    top:20%;
}

/*==================
Стили для модальных окон
===================*/
.modal {
    display: none;
    position:fixed;
    left:5%;
    top:10%;
    width:270px;
    height:220px;
    background: rgba(78, 185, 228, 0.856);
    border-radius:10%;
    -webkit-border-radius:10%;
    -moz-border-radius:10%;
    -ms-border-radius:10%;
    -o-border-radius:10%;
}
.modal h2{
    font-family: Bradley Hand, cursive;
    position: absolute;
    left:15%;
    top: 8%;
}    
.modal .positions{
    font-family: Bradley Hand, cursive;
    padding: 15px;
    position: absolute;
    top:20%;
    left:10%;
    width: 200px;
   
}
.modal .positions button{
    cursor: pointer;
    color:rgb(46, 123, 126);
    left: 0%;
    padding:10px;
    margin:5px;
    margin-left: 2px;
}
.modal .close {
    position:absolute;
    right:20px;
    top:20px;
    transition: .5s;
    cursor: pointer;;
    z-index: 1;
}
.modal .close:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}


/*==================
поиск
===================*/
.search {
    position: absolute;
    height: 30px;
    padding: 10px;
    width: 13%;
    top: 8%;
    left: 30%;
    
}

.search input {
    background: pink;
    border: none;
    height: 100%;
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 10px;
    width: calc(75% - 30px);
    outline: none;
    padding: 0 10px;
}

.search button {
    width: 40px;
    height: 30px;
    border: none;
    background: pink;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.search button:active {
    background: yellow;
}

.search button img {
    width: 100%;
    height: 100%
}

/*==================
Список контактов
===================*/
.list {
    position: absolute;
    top: 13%;
    left:30%;
    width: 12%;
    background:white;
    height: calc(90% - 50px);
    overflow-y: auto;
    background-color:rgba(128, 128, 128, 0.274);
}

.list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.list ul li {
    padding: 5px;
    position: relative;
    width: calc(100%-20px);
 
    
}
.list ul li a {
  text-decoration: none;
  color: green;
    width: 140px;
    height: 50px;
}
.list ul .avatar {
    
    left:10px;
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.list ul .avatar img {
    height: 100%;
    width: 100%;
}

.list ul li h2{
    position: absolute;
    right: 5px;
    top:0;
}


.avatar img {
    width: 50px;
    left: 10px;
}
.list .get-search{
    width: 80%;
    position: absolute;
    padding:2px;
    left:2%;
    top:2%;
}
.check-user {
    position: fixed;
    top:65px;
    width:40%;
    height:90px;
    background: #94A4F1;
    background: -moz-radial-gradient(center, ellipse cover, #94A4F1, #C2CBF5);
    background: -webkit-linear-gradient(top, #94A4F1, #C2CBF5);
    background: -o-linear-gradient(top, #94A4F1, #C2CBF5);
    background: -ms-linear-gradient(top, #94A4F1, #C2CBF5);

border: 1px solid #333;
    font-family: Bradley Hand, cursive;
}
.check-user .avatar{
    text-align: center;
}
/*==================
Стиль скроллбара
===================*/
.modal.contact::-webkit-scrollbar-track,
.list::-webkit-scrollbar-track,
.sms::-webkit-scrollbar-track,
.modal .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}
.modal.contact::-webkit-scrollbar,
.list::-webkit-scrollbar,
.sms::-webkit-scrollbar,
.modal .content::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;
}
.modal.contact::-webkit-scrollbar-thumb,
.list::-webkit-scrollbar-thumb,
.sms::-webkit-scrollbar-thumb,
.modal .content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
        left bottom,
        left top,
        color-stop(0.44, rgb(122, 153, 217)),
        color-stop(0.72, rgb(73, 125, 189)),
        color-stop(0.86, rgb(28, 58, 148)));
}

/*==================
стили для переписки с пользователем
===================*/
.message {
    position: absolute;
    margin: 10px;
    height: 80%;
    left: 42%;
    top: 10%;
   padding: 30px;
    width: 40%;
    background-image:-webkit-linear-gradient(45deg,#2e3192,#1bffff);
    background-image:linear-gradient(45deg,#2e3192,#1bffff);
}

.sms {
	width: 100%;
    height: 90%;
    overflow-y: auto;
    position: relative;
    top:10%;
}

.sms ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.sms ul li {
    position: relative;
    padding: 10px;
    font-family: Bradley Hand, cursive;
}

.sms ul .avatar {
    width: 60px;
    height: 60px;
    float: left;
    margin-right: 10px;
}

.sms ul .avatar img {
    width: 100%;
    height: 100%;
}

.sms ul h2,
.sms ul p {
    margin: 0;
    max-width: 400px;
    text-overflow: ellipsis;
    word-wrap: break-word;
}

.sms ul .time {
    position: absolute;
    top: 10px;
    right: 10px;
}

/*==================
Стили для формы отправки сообщений
===================*/
.form{

	height: calc(10% - 20px);
    padding: 10px;

}
.form button {
    border: 0;
    outline: none;
    background: none;
    width: 15%;
    height: 100%;
    cursor: pointer;
    left:90%;
    top:25%;
}

.form button img {
    height: 100%;
    width: 100%;
    
}

.form button:active {
    background: yellow;
}

.form textarea {
    position: absolute;
	width: 80%;
    height: 8%;
    resize: none;
}