html {
    height: 100%;
    width: 100%;
}

body {
    
    background-image: url("../images/social-media-networking-chatting-and-texting_1200-504.jpg");
    height: 90%;
    width: 100%;
}


.home {
  height: 100%;
  width: 100%;
  background-image: url("../images/pngwing.com (1).png");
  animation: scroll linear 18s infinite;
  -webkit-animation: scroll linear 1000s infinite;
}

@keyframes scroll {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000% 0;
  }
}
/*==================
Шапка чата
===================*/

.up {
    width: 100%;
    height: 80px;
    background: #0000000a;
    background-color:rgba(255, 255, 0, 0.226);
}

.logo {
    width: 100px;
    height: 100%;
    position: relative;
    float: left;
}

.logo img {
    width: 80%;
    position: absolute;
    top: 0px;
    left: 10px;
}

.logo span {
    font-size: 50px;
    position: absolute;
    top: 10px;
    left: 120px;
}
.logo span b{
    font-family: Bradley Hand, cursive;
}
.logo span i{
    font-family: Bradley Hand, cursive;
}


.menu {
    float: right;
    height: 100%;
}

.menu a,
button  {
    font-family: Bradley Hand, cursive;
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #33fdd1 rgb(189, 36, 36) #6894c5;
    border-radius: 6px;
    background: linear-gradient(#0febf3, #16b3e3) #16dce3de;
    transition: 0.2s;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
}
.menu a:hover { background: rgba(255,255,255,.2); }
.menu a:active { background: rgb(130, 171, 199); }

.menu a:hover {
    background: #65ddfbc7;
}
.menu a{
    top:20%;
    right: 10%;
}

/*==================
Стили для модальных окон
===================*/
.modal {
    display: none;
    position:fixed;
    left:5%;
    top:10%;
    width:270px;
    height:220px;
    background: rgba(78, 185, 228, 0.856);
    border-radius:10%;
    -webkit-border-radius:10%;
    -moz-border-radius:10%;
    -ms-border-radius:10%;
    -o-border-radius:10%;
}
.modal h2{
    font-family: Bradley Hand, cursive;
    position: absolute;
    left:15%;
    top: 8%;
}    
.modal .positions{
    font-family: Bradley Hand, cursive;
    padding: 15px;
    position: absolute;
    top:20%;
    left:10%;
    width: 200px;
}
.modal .positions button{
    cursor: pointer;
    color:rgb(46, 123, 126);
    left: 0%;
    padding:10px;
    margin:5px;
    margin-left: 2px;
}
.modal .close {
    position:absolute;
    right:20px;
    top:20px;
    transition: .5s;
    cursor: pointer;;
    z-index: 1;
}
.modal .close:hover{
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}


